.container_wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.container_wrapper > h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #1f5885;
}

.container_wrapper > h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #1f5885;

}