body {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    min-height: 100vh;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}