
.navigation {
    display: flex;
    text-align: center;
    margin: 20px 0;
    justify-content: center;
}

.root {
    display: flex;
    text-align: center;
}

.root > li:not(:last-child) {
    margin-right: 12px;
}

.root > li > a {
    transition: all .2s ease-in-out;
}

.root > li > a:hover {
    background-color: #94c11e;
}

.root > li > a {
    border-radius: 6px;
    background-color: #1f5885;
    color: white;
    padding: 10px 30px;
    display: inline-block;

}




